div
{
	margin: 10px;	
}
#jobsBox
{
	background-color:#CC0000;
}
#coursesBox
{
	background-color:#339900;	
}
#volunteerBox
{
	background-color:#FFCC33;	
}
#internshipBox
{
	background-color:#CC0066;	
}
#extraCurrBox
{
	background-color:#33CCCC;	
}
#mentorBox
{
	background-color:#FF6600;	
}
.sortable
{
	margin: 0;
	padding: 0;
}
.sortable:hover
{
	cursor:move;
}