div.sortable
{
	margin: 10px 0px;
	padding:0px;
	border-width: 1px;
	border-color: #888;	
}
div.sortable h3
{
	margin:0;
	padding:0px 10px;
	font-size:14pt;
	color:#fff;	
}
#jobsBox h3
{
	background-color:#CC0000;
	width:100%;
}
#coursesBox h3
{
	background-color:#339900;
	width:100%;	
}
#volunteerBox h3
{
	background-color:#FFCC33;
	width:100%;	
}
#internshipBox h3
{
	background-color:#CC0066;
	width:100%;	
}
#extraCurrBox h3
{
	background-color:#33CCCC;
	width:100%;	
}
#mentorBox h3
{
	background-color:#FF6600;
	width:100%;	
}
#otherBox h3
{
	background-color:#C8FE2E;
	width:100%;
}